
a {
    display: inline-flex;
    align-items: center;
    padding: 8px 12px;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    color: white;
    background-color: #d78941; 
    border-radius: 5px;
    transition: background 0.3s ease;
  }
  
  a:hover {
    background-color: #005582;
  }
  

  .icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 5px;
    vertical-align: middle;
  }
  

  .icon-search {
    background: url('/icons/search.svg') no-repeat center;
    background-size: contain;
  }
  
  .icon-linkedin {
    background: url('/icons/linkedin.svg') no-repeat center;
    background-size: contain;
  }
  

  p {
    margin: 10px 0;
  }
  